{
	email {$ACME_EMAIL}
}

{$DOMAIN} {
	reverse_proxy webapp:8080
	encode gzip
	header {
		Strict-Transport-Security "max-age=31536000"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "no-referrer"
	}
	log {
		output stdout
		format console
	}
}
ffp.emanuelemusumeci.com {
	reverse_proxy ffp-frontend:80
	encode gzip
	header {
		Strict-Transport-Security "max-age=31536000"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "no-referrer"
	}
	log {
		output stdout
		format console
	}
}
